<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <ion-buttons ion-button icon-only right end>
      <button ion-button icon-right (click)="updateProfile()">
        Modificar
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- Segment for Provider details -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="profileSegment" color="light">
      <ion-segment-button value="personalData" text-wrap>
        Cuenta
      </ion-segment-button>
      <ion-segment-button value="location">
        Ubicación
      </ion-segment-button>
      <ion-segment-button value="coffeePreferences">
        Preferencias
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="user" [ngSwitch]="profileSegment">

    <form [formGroup]="personalDataForm">
      <ion-list *ngSwitchCase="'personalData'" no-lines>

        <ion-list-header text-center text-uppercase>
          Información Personal
        </ion-list-header>

        <ion-item [class.invalid]="(!personalDataForm.controls.id.valid && (personalDataForm.controls.id.dirty || submitAttempt || nextAttempt)) || (errors && errors.id)">
          <ion-icon ios="ios-finger-print" md="md-finger-print" item-start></ion-icon>
          <ion-label floating>Número de documento</ion-label>
          <ion-input type="text" formControlName="id" [ngModel]="user.id">></ion-input>
          <!-- <ion-icon item-end name="close" color="danger" *ngIf="!slideOneForm.controls.id.valid && (slideOneForm.controls.id.dirty || submitAttempt)"></ion-icon> -->
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.id.valid && (personalDataForm.controls.id.dirty || submitAttempt || nextAttempt)) || (errors && errors.id)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.id; else elseBlock">{{errors.id[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un número de documento válido.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.nombres.valid && (personalDataForm.controls.nombres.dirty || submitAttempt || nextAttempt)) || (errors && errors.nombres)">
          <ion-icon ios="ios-contact" md="md-contact" item-start></ion-icon>
          <ion-label floating>Nombres</ion-label>
          <ion-input type="text" formControlName="nombres" [ngModel]="user.nombres">></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.nombres.valid && (personalDataForm.controls.nombres.dirty || submitAttempt || nextAttempt)) || (errors && errors.nombres)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.nombres; else elseBlock">{{errors.nombres[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un nombre válido.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.apellidos.valid && (personalDataForm.controls.apellidos.dirty || submitAttempt || nextAttempt)) || (errors && errors.apellidos)">
          <ion-icon ios="ios-contact" md="md-contact" item-start></ion-icon>
          <ion-label floating>Apellidos</ion-label>
          <ion-input type="text" formControlName="apellidos" [ngModel]="user.apellidos">></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.apellidos.valid && (personalDataForm.controls.apellidos.dirty || submitAttempt || nextAttempt)) || (errors && errors.apellidos)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.apellidos; else elseBlock">{{errors.apellidos[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un apellido válido.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.correoElectronico.valid && (personalDataForm.controls.correoElectronico.dirty || submitAttempt || nextAttempt)) || (errors && errors.correoElectronico)">
          <ion-icon ios="ios-mail" md="md-mail" item-start></ion-icon>
          <ion-label floating>Tu e-mail</ion-label>
          <ion-input type="email" formControlName="correoElectronico" email [ngModel]="user.correoElectronico">></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.correoElectronico.valid && (personalDataForm.controls.correoElectronico.dirty || submitAttempt || nextAttempt)) || (errors && errors.correoElectronico)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.correoElectronico; else elseBlock">{{errors.correoElectronico[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un correo válido.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.password.valid && (personalDataForm.controls.password.dirty || submitAttempt || nextAttempt))">
          <ion-icon ios="ios-lock" md="md-lock" item-start></ion-icon>
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <p text-wrap>
            Tu contraseña debe ser de por lo menos de 8 caracteres, incluyendo mayúsculas y números.
          </p>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.password.valid && (personalDataForm.controls.password.dirty || submitAttempt || nextAttempt))">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.password; else elseBlock">{{errors.password[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa una contraseña válida.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.password_confirmation.valid && (personalDataForm.controls.password_confirmation.dirty || submitAttempt || nextAttempt))">
          <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
          <ion-label floating>Confirmar contraseña</ion-label>
          <ion-input type="password" formControlName="password_confirmation"></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.password_confirmation.valid && (personalDataForm.controls.password_confirmation.dirty || submitAttempt || nextAttempt))">
          <ion-icon name="close" item-start></ion-icon>
          <!-- <p *ngIf="errors && errors.password_confirmation; else elseBlock">{{errors.password_confirmation[0]}}</p> -->
          <!-- <ng-template #elseBlock> -->
            <p>Las contraseñas no coinciden.</p>
          <!-- </ng-template> -->
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.telefono.valid && (personalDataForm.controls.telefono.dirty || submitAttempt || nextAttempt)) || (errors && errors.telefono)">
          <ion-icon ios="ios-call" md="md-call" item-start></ion-icon>
          <ion-label floating>Teléfono</ion-label>
          <ion-input type="number" formControlName="telefono" [ngModel]="user.telefono">></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.telefono.valid && (personalDataForm.controls.telefono.dirty || submitAttempt || nextAttempt)) || (errors && errors.telefono)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.telefono; else elseBlock">{{errors.telefono[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un teléfono válido.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!personalDataForm.controls.idNivelEstudios.valid && (personalDataForm.controls.idNivelEstudios.dirty || submitAttempt || nextAttempt)) || (errors && errors.idNivelEstudios)">
          <ion-icon ios="ios-school" md="md-school" item-start></ion-icon>
          <ion-label floating>Nivel de Estudios</ion-label>
          <ion-select formControlName="idNivelEstudios" submitText="OK" cancelText="Cancelar" [ngModel]="user.nivel_estudios.id">
            <ion-option *ngFor="let nivelEstudio of fieldsOptions.nivelEstudios" value="{{nivelEstudio.id}}"> {{nivelEstudio.tipo}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="error" *ngIf="(!personalDataForm.controls.idNivelEstudios.valid && (personalDataForm.controls.idNivelEstudios.dirty || submitAttempt || nextAttempt)) || (errors && errors.idNivelEstudios)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.idNivelEstudios; else elseBlock">{{errors.idNivelEstudios[0]}}</p>
          <ng-template #elseBlock>
            <p>Selecciona tu nivel académico.</p>
          </ng-template>
        </ion-item>

        <div class="final_item"></div>

      </ion-list>
    </form>

    <form [formGroup]="locationForm">

      <ion-list *ngSwitchCase="'location'" no-lines>

        <ion-list-header text-center text-uppercase>
          Ubicación
        </ion-list-header>

        <ion-item [class.invalid]="(!locationForm.controls.pais.valid && (locationForm.controls.pais.dirty || submitAttempt || nextAttempt)) || (errors && errors.pais)">
          <ion-icon ios="ios-compass" md="md-compass" item-start></ion-icon>
          <ion-label floating>Pais</ion-label>
          <ion-select submitText="OK" formControlName="pais" [ngModel]="user.direccion.pais" cancelText="Cancelar" (ionChange)="countryChange($event)">
            <ion-option *ngFor="let pais of paises" value="{{pais}}">{{pais}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.pais.valid && (locationForm.controls.pais.dirty || submitAttempt || nextAttempt)) || (errors && errors.pais)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.pais; else elseBlock">{{errors.pais[0]}}</p>
          <ng-template #elseBlock>
            <p>Selecciona tu país.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!locationForm.controls.departamento.valid && (locationForm.controls.departamento.dirty || submitAttempt || nextAttempt)) || (errors && errors.departamento)">
          <ion-icon ios="ios-map" md="md-map" item-start></ion-icon>
          <ion-label floating>Departamento</ion-label>
          <ion-select submitText="OK" formControlName="departamento" [ngModel]="user.direccion.departamento" cancelText="Cancelar" (ionChange)="departmentChange($event)">
            <ion-option *ngFor="let departamento of departamentos" [selected]="user.direccion.departamento ==  departamento ? 'true' : 'false'" value="{{departamento}}">{{departamento}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.departamento.valid && (locationForm.controls.departamento.dirty || submitAttempt || nextAttempt)) || (errors && errors.departamento)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.departamento; else elseBlock">{{errors.departamento[0]}}</p>
          <ng-template #elseBlock>
            <p>Selecciona tu departamento.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!locationForm.controls.ciudad.valid && (locationForm.controls.ciudad.dirty || submitAttempt || nextAttempt)) || (errors && errors.ciudad)">
          <ion-icon ios="ios-navigate" md="md-navigate" item-start></ion-icon>
          <ion-label floating>Ciudad</ion-label>
          <ion-select submitText="OK" formControlName="ciudad" [ngModel]="user.direccion.ciudad" cancelText="Cancelar">
            <ion-option *ngFor="let ciudad of ciudades" [selected]="user.direccion.ciudad ==  ciudad ? 'true' : 'false'" value="{{ciudad}}">{{ciudad}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.ciudad.valid && (locationForm.controls.ciudad.dirty || submitAttempt || nextAttempt)) || (errors && errors.ciudad)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.ciudad; else elseBlock">{{errors.ciudad[0]}}</p>
          <ng-template #elseBlock>
            <p>Selecciona tu ciudad.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!locationForm.controls.direccion.valid && (locationForm.controls.direccion.dirty || submitAttempt || nextAttempt)) || (errors && errors.direccion)">
          <ion-icon ios="ios-home" md="md-home" item-start></ion-icon>
          <ion-label floating>Dirección</ion-label>
          <ion-input type="text" formControlName="direccion" [ngModel]="user.direccion.direccion"></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.direccion.valid && (locationForm.controls.direccion.dirty || submitAttempt || nextAttempt)) || (errors && errors.direccion)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.direccion; else elseBlock">{{errors.direccion[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa una dirección válida.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!locationForm.controls.direccionAuxiliar.valid && (locationForm.controls.direccionAuxiliar.dirty || submitAttempt || nextAttempt)) || (errors && errors.direccionAuxiliar)">
          <ion-icon ios="ios-information-circle" md="md-information-circle" item-start></ion-icon>
          <ion-label floating>Dirección auxiliar</ion-label>
          <ion-input type="text" formControlName="direccionAuxiliar" [ngModel]="user.direccion.direccionAuxiliar"></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.direccionAuxiliar.valid && (locationForm.controls.direccionAuxiliar.dirty || submitAttempt || nextAttempt)) || (errors && errors.direccionAuxiliar)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.direccionAuxiliar; else elseBlock">{{errors.direccionAuxiliar[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa una dirección auxiliar válida.</p>
          </ng-template>
        </ion-item>

        <ion-item [class.invalid]="(!locationForm.controls.codigoPostal.valid && (locationForm.controls.codigoPostal.dirty || submitAttempt || nextAttempt)) || (errors && errors.codigoPostal)">
          <ion-icon name="mail" item-start></ion-icon>
          <ion-label floating>Código postal</ion-label>
          <ion-input type="number" formControlName="codigoPostal" [ngModel]="user.direccion.codigoPostal"></ion-input>
        </ion-item>

        <ion-item class="error" *ngIf="(!locationForm.controls.codigoPostal.valid && (locationForm.controls.codigoPostal.dirty || submitAttempt || nextAttempt)) || (errors && errors.codigoPostal)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.codigoPostal; else elseBlock">{{errors.codigoPostal[0]}}</p>
          <ng-template #elseBlock>
            <p>Ingresa un código postal válido.</p>
          </ng-template>
        </ion-item>

        <div class="final_item"></div>

      </ion-list>
    </form>


    <form [formGroup]="coffeePreferencesForm">
      <ion-list *ngSwitchCase="'coffeePreferences'" no-lines>

        <ion-list-header text-center text-uppercase>
          Preferencias del café
        </ion-list-header>

        <ion-item [class.invalid]="(!coffeePreferencesForm.controls.idFrecuenciaCompraCafe.valid && (coffeePreferencesForm.controls.idFrecuenciaCompraCafe.dirty || submitAttempt || nextAttempt)) || (errors && errors.idFrecuenciaCompraCafe)">
          <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" item-start></ion-icon>
          <ion-label floating>Frecuencia de compra</ion-label>
          <ion-select submitText="OK" formControlName="idFrecuenciaCompraCafe" [ngModel]="user.frecuencia_compra_cafe.id" cancelText="Cancelar">
            <ion-option *ngFor="let frecuencia of fieldsOptions.frecuenciaCompraCafe" value="{{frecuencia.id}}">{{frecuencia.tipo}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="error" *ngIf="(!coffeePreferencesForm.controls.idFrecuenciaCompraCafe.valid && (coffeePreferencesForm.controls.idFrecuenciaCompraCafe.dirty || submitAttempt || nextAttempt)) || (errors && errors.idFrecuenciaCompraCafe)">
          <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors.idFrecuenciaCompraCafe; else elseBlock">{{errors.idFrecuenciaCompraCafe[0]}}</p>
          <ng-template #elseBlock>
            <p>Selecciona una opción válida.</p>
          </ng-template>
        </ion-item>

        <ng-template ngFor let-attribute let-i="index" let-l="last" [ngForOf]="fieldsOptions.attributes">
          <ion-item [class.invalid]="(!coffeePreferencesForm.controls[attribute.nombreAtributo].valid && (coffeePreferencesForm.controls[attribute.nombreAtributo].dirty || submitAttempt || nextAttempt)) || (errors && errors[attribute.nombreAtributo])">
            <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
            <ion-label floating>{{parse(attribute.nombreAtributo)}}</ion-label>

            <ion-select *ngIf="attribute.opciones; else Input" submitText="OK" cancelText="Cancelar" [formControlName]="attribute.nombreAtributo" [ngModel]="user.atributos[i].pivot.valorAtributo">
              <ion-option *ngFor="let option of attribute.opciones" value="{{option}}" [innerHTML]="option"></ion-option>
            </ion-select>

            <ng-template #Input>
              <ion-input type="text" [formControlName]="attribute.nombreAtributo" [ngModel]="user.atributos[i].pivot.valorAtributo"></ion-input>
            </ng-template>

          </ion-item>

          <ion-item class="error" *ngIf="(!coffeePreferencesForm.controls[attribute.nombreAtributo].valid && (coffeePreferencesForm.controls[attribute.nombreAtributo].dirty || submitAttempt || nextAttempt)) || (errors && errors[attribute.nombreAtributo])">
            <ion-icon name="close" item-start></ion-icon>
          <p *ngIf="errors && errors[attribute.nombreAtributo]; else elseBlock">{{errors[attribute.nombreAtributo][0]}}</p>
           <ng-template #elseBlock>
            <p>Selecciona una opción válida.</p>
          </ng-template>
          </ion-item>
        </ng-template>

        <div class="final_item"></div>

      </ion-list>
    </form>

  </div>

  <ion-fab right bottom>
    <button ion-fab color="danger_red" (click)="deleteAccount()"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
    <!-- <button ion-fab (click)="deleteAccount()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="deleteAccount()"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="deleteAccount()"><ion-icon name="md-create"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>

</ion-content>
