page-home {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
      ion-card-content {
        text-align: left;
      }
    }
    .col-product {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    .card-backgruound img {
      filter: blur(1px) brightness(75%);
    }
  }
}
