<ion-header>
  <ion-navbar>
    <ion-title>{{product.nombre}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content">

  <ion-list>
    <ion-item>
      <ion-slides pager loop autoplay="4000" zoom autoHeight="true">
        <ion-slide *ngFor="let slide of product.fotos">
          <img data-src="{{apiURL}}/storage/get/{{slide.path}}/{{slide.nombreArchivo}}">
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

  <ion-grid>
    <!--Provider-->
    <ion-row>
      <ion-col col>Por,
        <a (click)="seeProvider(product.proveedor.id)">{{product.proveedor.nombres}} {{product.proveedor.apellidos}}</a>
      </ion-col>
    </ion-row>

    <!--Product Name-->
    <ion-row>
      <h3>{{product.name}}</h3>
    </ion-row>

    <!--Score-->
    <ion-row>
      <rating [(ngModel)]="rate" 
        readOnly="true"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
      </rating>
      <h6>(Score){{product.calificacion}}</h6>
    </ion-row>

    <!--Price-->
    <ion-row>
      <h4>${{product.precioEmpaque}}</h4>
    </ion-row>

  <!--Options-->
  <!--Definir el máximo-->
    <ion-row>
      <ion-col col-4>
        <ion-list>
          <ion-item>
            <ion-label floating>Cantidad</ion-label>
            <ion-input type="number" min="1" max="{{product.cantidad}}" step="1" value="1"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-4 offset-4 align-self-end>
        <ion-list no-lines>
          <!--<ion-item>-->
          <button ion-button full color="primary" icon-left>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            Comprar
          </button>
          <!--</ion-item>-->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Opción 1, con cards -->
  <ion-card style="margin-bottom: 5px;">
    <ion-card-content>
      <ion-list>

        <button ion-item (click)="seeDescription()">
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          <ion-avatar item-start>
            <img src="{{apiURL}}/storage/get/{{product.fotos['0'].path}}/{{product.fotos['0'].nombreArchivo}}">
          </ion-avatar>
          <h2>Descripción</h2>
          <p>{{product.descripcion}}</p>
        </button>

      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card style="margin-bottom: 5px;">
    <ion-card-content>
      <ion-list>
      
        <button ion-item (click)="seeDetails()">
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          <ion-icon name="cafe" item-start color="primary"></ion-icon>
          <h2>Detalles</h2>
          <p><strong>Variedad Café:</strong> {{product.variedad_cafe.tipo}}<br>...</p>
        </button>

        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-bottom: 5px;">
    <ion-card-content>
      <ion-list>
      
        <button ion-item (click)="seeQuestions()">
          <ion-icon name="text" item-start color="primary"></ion-icon>
          <h2>Preguntas <ion-badge item-end>{{questions.total}}</ion-badge></h2>
          <p *ngIf="questions.total">{{questions.data["0"].consulta}}</p>
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
        </button>

      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-content>
      <ion-list>
        <button ion-item (click)="seeReviews()">
          <ion-icon name="star" item-start color="primary"></ion-icon>
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          <h2>Reseñas</h2>
          <p *ngIf="reviews.total != 1; else elseBlock">{{reviews.total}} opiniones</p>
          <ng-template #elseBlock><p>{{reviews.total}} opinión</p></ng-template>
        </button>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Opción 2, sin cards -->

  <!-- <ion-list>

    <button ion-item (click)="seeDescription()">
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      <ion-avatar item-start>
        <img src="{{apiURL}}/storage/get/{{product.fotos['0'].path}}/{{product.fotos['0'].nombreArchivo}}">
      </ion-avatar>
      <h2>Descripción</h2>
      <p>{{product.descripcion}}</p>
    </button>

    <button ion-item (click)="seeDetails()">
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      <ion-icon name="cafe" item-start color="primary"></ion-icon>
      <h2>Detalles</h2>
      <p><strong>Variedad Café:</strong> {{product.variedad_cafe.tipo}}<br>...</p>
    </button>

    <button ion-item (click)="seeQuestions()">
      <ion-icon name="text" item-start color="primary"></ion-icon>
      <h2>Preguntas <ion-badge item-end>{{questions.total}}</ion-badge></h2>
      <p *ngIf="questions.total">{{questions.data["0"].consulta}}</p>
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
    </button>

    <button ion-item (click)="seeReviews()">
      <ion-icon name="star" item-start color="primary"></ion-icon>
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      <h2>Reseñas</h2>
      <p *ngIf="reviews.total != 1; else elseBlock">{{reviews.total}} opiniones</p>
      <ng-template #elseBlock><p>{{reviews.total}} opinión</p></ng-template>
    </button>

  </ion-list> -->



    <!-- </ion-card-content> -->
  <!-- </ion-card> -->

  <!--<ion-card>-->
    <!--<ion-card-content  >-->

      <!-- <ion-list>
        <button color="primary" ion-item (click)="seeDetails()">
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          Detalles
        </button>
      </ion-list> -->

    <!--</ion-card-content>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<ion-card-content >-->
      
      <!-- <ion-list>
        <button color="primary" ion-item (click)="seeQuestions()">
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          Preguntas
        </button>
      </ion-list> -->

    <!--</ion-card-content>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<ion-card-content>-->

      <!-- <ion-list>
        <button color="primary" ion-item (click)="seeReviews()">
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
          Reseñas
        </button>
      </ion-list> -->

    <!--</ion-card-content>-->
  <!--</ion-card>-->

  <!-- <ion-list inset no-lines>
    <button ion-item>
      Descripción
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
    </button>
    <button ion-item>
      Detalles
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
    </button>
    <button ion-item>
      Preguntas
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
    </button>
    <button ion-item>
      Reseñas
      <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
    </button>
  </ion-list> -->

</ion-content>
