page-provider {
  ion-card {
    position: relative;
    text-align: center;
    margin: 0 !important;
    width: 100% !important;
    ion-card-content {
      text-align: left;
    }
  }
  .col-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
