<meta charset="ISO-8859-1">
<ion-header>
  <ion-navbar>
    <ion-title>{{provider.nombres + " " + provider.apellidos}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content" cards-bg social-cards>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <!-- <ion-row> -->
    <ion-list no-border>
      <ion-item-group>
        <ion-item>
          <ion-slides pager loop autoplay="4000" zoom="true" centeredSlides>
            <ion-slide style="background-color: transparent;" *ngFor="let slide of provider.fotos">
              <div class="swiper-zoom-container">
                <img [src]="slide.url">
              </div>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <!-- </ion-row> -->

    <!--Provider and Estate-->
    <ion-row justify-content-center>
      <h2>{{provider.nombres + " " + provider.apellidos}}</h2>
    </ion-row>
    <ion-row justify-content-center>
      <p>Finca: {{provider.nombreFinca}}</p>
    </ion-row>

    <!-- Segment for Provider details -->
    <div padding>
      <ion-segment [(ngModel)]="providerSegment" color="primary">
        <ion-segment-button value="provider">
          Proveedor
        </ion-segment-button>
        <ion-segment-button value="estate">
          Finca
        </ion-segment-button>
        <ion-segment-button value="products">
          Productos
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="providerSegment">
      <ion-list *ngSwitchCase="'provider'">
        <ion-item>
          <h2>Nombre</h2>
          <p>{{provider.nombres + " " + provider.apellidos}}</p>
        </ion-item>
        <ion-item>
          <h2>Edad</h2>
          <p>{{provider.edadProveedor}}</p>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'estate'">
        <ion-item>
          <h2>Nombre de la finca</h2>
          <p>{{provider.nombreFinca}}</p>
        </ion-item>
        <ion-item>
          <h2>Altura de la finca</h2>
          <p>{{provider.alturaFinca}} m s. n. m.</p>
        </ion-item>
        <ion-item>
          <h2>Extensión de la finca</h2>
          <p>{{provider.extensionFinca}} ha</p>
        </ion-item>
        <ion-item>
          <h2>Densidad de Siembra</h2>
          <p>{{provider.densidad_siembra.tipo}}</p>
        </ion-item>
        <ion-item>
          <h2>Años del Cafetal</h2>
          <p>{{provider.annosCafetal}}</p>
        </ion-item>
        <ion-item>
          <h2>Edad desde la última Zoca</h2>
          <p>{{provider.edad_ultima_zoca.tipo}}</p>
        </ion-item>
        <ion-item>
          <h2>Variedad de café</h2>
          <p *ngFor="let variedad of provider.variedades_cafe">{{variedad.tipo}}</p>
        </ion-item>
        <ion-item>
          <h2>Tipo de Beneficio / Beneficiado</h2>
          <p>{{provider.tipo_beneficio.tipo}}</p>
        </ion-item>
        <ion-item>
          <h2>Ecotopo</h2>
          <p>{{provider.ecotopo.tipo}}</p>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'products'">
        <ion-grid fixed>
          <ion-row justify-content-between wrap>
            <ion-col class="col-product" col-6 *ngFor="let product of products" (click)="itemTapped($event, product)">
              <ion-card>
                <img [src]="product.fotos['0'].url"/>
                <ion-card-content>
                  <p>
                    <b>${{product.precioEmpaque}}</b>
                  </p>
                  <p>{{product.nombre}}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
          
          <ion-row *ngIf="!products.length">
            <ion-col align-self-center text-center>
              <p>{{provider.nombres + " " + provider.apellidos}} aún no tiene productos disponibles.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    </div>

  </ion-grid>

</ion-content>

